<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <div class="footer-logo-text">
                    <img src="assets/brand/logo.png" alt="D" class="footer-logo">
                    <span class="footer-logo-text-uru">uru</span>
                </div>
                <p>Endüstriyel tesislerde kumlama, boyama, çelik imalat ve montaj uygulamalarını, uzman ekibimizle kaliteli ve hızlı bir şekilde gerçekleştiriyoruz.</p>
                <!-- Social Media Links -->
                <div class="social-links">
                    <a href="https://www.facebook.com/people/Duru-Makina/pfbid0NPhT2vdvpuJViotJgcrDExzVBFHrJZL9MS4nxUyJFEDTQyZd2BMnSphN5WZ9AaTbl/" target="blank" class="social-link">
                        <img src="assets/icon/facebook.svg" alt="Facebook" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/durumakina/" target="blank" class="social-link">
                        <img src="assets/icon/instagram.svg" alt="Instagram" class="social-icon">
                    </a>
                    <a href="mailto:makinaduru@gmail.com" class="social-link">
                        <img src="assets/icon/envelope.svg" alt="Email" class="social-icon">
                    </a>
                </div>
            </div>
            <div class="footer-section">
                <h4>Hizmetlerimiz</h4>
                <ul>
                    <li><a href="#services">Kumlama & Boyama</a></li>
                    <li><a href="#services">Montaj & Demontaj</a></li>
                    <li><a href="#services">Bakım & Onarım</a></li>
                    <li><a href="#services">Proje & Çizim Hizmetleri</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>İletişim</h4>
                <p><a href="tel:05320126555">0532 012 65 55</a><br><a href="tel:05447770122">0544 777 01 22</a></p>
                <p>makinaduru@gmail.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Duru Makina. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>
