<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <div class="logo-text">
                    <img src="assets/brand/logo.png" alt="D" class="logo-img">
                    <span class="logo-text-uru">uru</span>
                </div>
                <div class="logo-subtitle">Makina Mühendislik Tic. Ltd. Şti.</div>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#home">Ana Sayfa</a></li>
                    <li><a href="#about">Hakkımızda</a></li>
                    <li><a href="#services">Hizmetler</a></li>
                    <li><a href="#busnies">Çalışmalar</a></li>
                    <li><a href="#references">Referanslar</a></li>
                    <li><a href="#equipment">Ekipmanlar</a></li>
                    <li><a href="#sustainability">Sürdürülebilirlik</a></li>
                    <li><a href="#contact">İletişim</a></li>
                </ul>
            </nav>
            <div class="mobile-menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
